<h1>Create a New Project</h1>

<form>
  
	<label>Project Title: 
  <input
    type="text"
    name="title"
    value="<%= project.escape("title") %>"
  >
  </label>
  <br>

  <label>Project End Date: 
  <input
    type="date"
    name="end_date"
    value="<%= project.escape("end_date") %>"
  >
  </label>
  <br>

  <label>Project Description: 
  <input
    type="text"
    name="description"
    value="<%= project.escape("description") %>"
  >
  <br>

  <input type="submit">
  
</form>