<h2><u>||   projects   ||</u></h2>
<h3>total projects: <%= projects.length %></h3>
<br>

<ul>
<% projects.each (function(project) { %>
	<li class="project">
		<a href="#/projects/<%= project.id %>"><%= project.escape("title") %></a>
	</li>
<% }) %>
</ul>

<h3><a href="#/projects/new">create a project</a></h3>