<div class="container">

	<div class="row">

	<div class= "col-picture">
		<img src="/images/pyramid.jpg" alt="Pyramid" width="200" height="300">
	</div>

	<div class= "col-content">
		<a href="#"><h4>||   at a glance   ||</h4></a>

		<ul>
			<li><strong># projects</strong> - <%= projects.length %></li>
		<ul>
			<% projects.each (function(project) { %>
				<li class="project">
					<a href="#/projects/<%= project.id %>"><%= project.escape("title") %></a>
					<p><strong>end date - </strong><%= project.escape("end_date")%></p>
				</li>
			<% }) %>
		</ul>
		<button class="newProject">create a project</button>
		</ul>
	</div>

	<div class= "col-content">
		<div id="projects-new"></div>
	</div>

	</div>
</div>