<h1>Team HomePage<h1>

<h2>Team Members</h2>

<ul>

<% members.each (function(member) { %>
	<li class="member">
		<a href="#/members/<%= member.id %>"><%= member.escape("lname") + ", " + member.escape("fname")%></a>
	</li>
<% }) %>

</ul>

<h2>Team Projects</h2>

<ul>

<% projects.each (function(project) { %>
	<li class="project">
		<a href="#/projects/<%= project.id %>"><%= project.escape("title") %></a>
	</li>
<% }) %>

</ul>

<br>
<br>
<br>

<h2><a href="#/projects/new">Create a New Project</a></h2>
<h2><a href="#/members/new">Add a Team Member</a></h2>