<div class="container">

<div class="row">

<div class="col-sm-2"></div>

<div class="col-sm-6">
	<table class="table">

	<thead><tr>
		<th>||   title   ||</th>
		<th>||   description   ||</th>
		<th>||   date   ||</th>
	</tr></thead>
	
	<tbody>
	
	<% projects.each (function(project) { %>
	<tr>
	<td>
		<a href="#/projects/<%= project.id %>"><strong><%= project.escape("title") %></strong></a>
	</td>
	<td>
		<%= project.escape("description")%>
	</td>
	<td>
		<%= project.escape("end_date")%>
	</td>
	</tr>
	<% }) %>
	<tr>
	</tr>

	</tbody>
	</table>
</div>

<div class= "col-sm-1"></div>

<div class= "col-sm-3">
	<a href="#"><h4>||   back to dashboard   ||</h4></a>
	<br><br>
	<button id="newProject" class="btn btn-create"><span class="glyphicon glyphicon-list-alt"></span> create project</button>
	<div id="projects-new"></div>
</div>

<div class= "col-sm-1"></div>


</div>
</div>