<div class="container">

<div class="row">

	<div class= "col-content">
	<img src="/images/pyramid.jpg" alt="Pyramid" width="200" height="300">
	</div>

	<div class= "col-content">
	<h4>||   <%= project.escape("title") %>   ||</h4>
	<ul>
		<li><strong>end date</strong> - <%= project.escape("end_date") %></li>
		<li><strong>description</strong> - <%= project.escape("description") %></li>
	</ul>

	<br><br>

	<h4>||   project actions   ||</h4>
	<ul>
		<li><button class="newPhase">add phase</button></li>
		<li><button class="editProject">edit project</button></li>
		<li><button class="destroyProject">destroy project</button></li>
		<li><a href="#/projects">back to projects</a></li>
	</ul>
		<div id="phases-new"></div>
		<div id="project-edit"></div>

		<br><br>
		<br><br>

	</div>

<div id="long-phases">

	<div class= "col-longest">
	<h4>||   project phases   ||</h4>
	<ol id="phases">
	</ol>
	</div>

</div>

</div>
