<div class="container">

<div class="row">

	<div class= "col-content">
	<img src="/images/pyramid.jpg" alt="Pyramid" width="200" height="300">
	</div>

	<div class= "col-content">
	<h4>||   <%= project.escape("title") %>   ||</h4>
	<ul>
		<li><strong>end date</strong> - <%= project.escape("end_date") %></li>
		<li><strong>description</strong> - <%= project.escape("description") %></li>
	</ul>
	<button class="editProject">edit project</button>
	<button class="destroyProject">destroy project</button>
	<br><br>
	<button class="newPhase">add phase</button>
	<br><br>
	<h4><a href="#/projects">||   back to projects   ||</a></h4>
	</ul>
		<div id="phases-new"></div>
		<div id="project-edit"></div>
	</div>

<div id="long-phases">

	<div class= "col-longest">
	<h4>||   project phases   ||</h4>
	<ol id="phases">
	</ol>
	</div>

</div>

</div>
