<h1><%= project.escape("title") %></h1>
<h3><strong>||   end date   ||</strong>   <%= project.escape("end_date") %></h3>
<h3><strong>||   description   ||</strong>   <%= project.escape("description") %></h3>

<br>

<div class="row">
	<h3>project phases</h3>
	<ol id="phases">
	</ol>
</div>

<br>
<br>
<br>

<div id="phases-new"></div>
<br>
<br>
<br>

<div id="project-edit"></div>
<br>
<br>
<br>

<button class="newPhase">New Phase</button>
<button class="editProject">Edit Project</button>
<button class="destroyProject">Destroy Project</button>
<br><br>
<a href="#/">back to team home page</a>
