<div class="container">

<div class="row">

<div class="col-sm-2"></div>

<div class="col-sm-3">
	<table class="table">

	<thead>
	<tr>
		<th><h4><span class="glyphicon glyphicon-list-alt"></span> <%= project.escape("title") %></h4></th>
	</tr></thead>

	<tbody>
	<tr><td>
		<strong>end date</strong> 
		<p><%= project.escape("end_date") %></p>
	</tr></td>
	<tr><td>
		<strong>description</strong>
		<p><%= project.escape("description") %></p>
	</tr></td>

	</tbody>
	</table>
	
	<button id="editProject" class="btn btn-edit"><span class="glyphicon glyphicon-pencil"></span> edit project</button>
	<div id="project-edit"></div><br>
	<button id="destroyProject" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> delete project</button>
	<br><br>
	<h5><a href="#/projects"><span class="glyphicon glyphicon-chevron-left"></span> back to projects</a></h5>
	<h5><a href="#/"><span class="glyphicon glyphicon-chevron-left"></span> back to home page</a></h5>

</div>

<div class="col-sm-2">	
</div>

<div class= "col-sm-5">
	<h4><span class="glyphicon glyphicon-bookmark"></span> project phases</h4>
	<div class="panel-group" id="phases"></div>
	<button id="newPhase" class="btn btn-create"><span class="glyphicon glyphicon-bookmark"></span> add phase</button>
	<div id="phases-new"></div>
	<br>

</div>

</div>

</div>
