<h1>PROJECT: <%= project.escape("title") %></h1>
<h3>PROJECT END DATE: <%= project.escape("end_date") %></h3>
<h3>PROJECT DESCRIPTION: <%= project.escape("description") %></h3>

<br>

<h3>PROJECT PHASES</h3>
<ul id="phases">
</ul>

<br>
<br>
<br>

<div id="phases-new"></div>
<br>
<br>
<br>

<button class="newPhase">New Phase</button>
<button class="destroyProject">Destroy Project</button>
<br><br>
<a href="#/">Back To Team HomePage</a>
