<div class="container">
<div class="row">
<div class= "col-longer">
<img src="/images/pyramid.jpg" alt="Pyramid" width="200" height="300">
<br><br>
</div>

<div class= "col-longest">
<h2>||   what we do   ||</h2>
<p>making collaboration stream-lined -- both in the personal and professional spheres.</p>

<br>
<h2>||   how we work   ||</h2>
	<ol>
		<li><%= link_to "sign in", new_session_url %> or <%= link_to "sign up", new_user_url %></li>
		<li>create a roster of teammates</li>
		<li>break team projects down into phases</li>
		<li>add tasks for each project phase</li>
		<li>assign each task to one of your team members</li>
	</ol>
</div>

</div>
</div>