<div id="content">
<div class="container">
<div class="row">

<div class="col-sm-2">
</div>

<div class="col-sm-4">
	<table class="table">
	<thead>
		<tr>
		<th><span class="glyphicon glyphicon-asterisk"></span> who we are</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>making collaboration <em><strong>stream-lined</strong></em> & <em><strong>efficient</strong></em> in both the personal & professional spheres.</td>
		</tr>
	
	</tbody>
</table>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-4">
	<table class="table">
	<thead>
		<tr>
		<th><span class="glyphicon glyphicon-asterisk"></span> how it works</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong><span class="glyphicon glyphicon-ok"></span> <%= link_to "sign in", new_session_url %></strong> or <strong><%= link_to "sign up", new_user_url %></strong></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok"></span> add <strong>team members</strong><br>
				& create <strong>projects</strong></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok"></span> divide projects into manageable <strong>phases</strong></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok"></span> create <strong>tasks</strong> for each phase<br>
				& assign to team members</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-ok"></span> start <strong>collaborating</strong>!</td>
		</tr>
	
	</tbody>
</table>
</div>

<div class="col-sm-4"></div>

</div>
</div>
</div>

