<div id="content">
<div class="container">
<div class="row">

<div class="col-sm-2">
</div>

<div class="col-sm-4">
	<table class="table">
	<thead>
		<tr>
		<th></th>
		<th><span class="glyphicon glyphicon-send"></span> who we are</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-phone"></span></td>
			<td>making collaboration stream-lined -- in both the personal and professional spheres.</td>
		</tr>
	
	</tbody>
</table>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-4">
	<table class="table">
	<thead>
		<tr>
		<th></th>
		<th><span class="glyphicon glyphicon-send"></span> how it works</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-phone"></span></td>
			<td><%= link_to "sign in", new_session_url %> or <%= link_to "sign up", new_user_url %></td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-phone"></span></td>
			<td>create a roster of teammates</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-phone"></span></td>
			<td>break team projects down into phases</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-phone"></span></td>
			<td>add tasks for each project phase</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-phone"></span></td>
			<td>assign each task to one of your team members</td>
		</tr>
	
	</tbody>
</table>
</div>

<div class="col-sm-4"></div>

</div>
</div>
</div>

