<div class="container">
<div class="row">
<div class= "col-picture">
<%if current_user%>
	<img src="/images/pyramid.jpg" alt="Pyramid" width="300" height="450">
	<br><br>
<% end %>
</div>

<div class= "col-content">
<h1>p   y   r   a   m   i   d</h1>
</div>

<div class= "col-content">
<h2>what we do</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit ante sed erat consectetur ultrices. Suspendisse congue sapien in enim pharetra imperdiet. </p>

<h2>how we work</h2>
<p>Curabitur et augue dictum, tempor mauris ut, porttitor odio. Etiam quam dui, laoreet ut quam quis, hendrerit dictum turpis.</p>
</div>

<div class= "col-content">
	<%if !current_user%>
	<%= link_to "||   sign in   ||", new_session_url %><br>
	<%= link_to "||   new to pyramid?   ||", new_user_url %><br>
	<% end %>
</div>
</div>
</div>