<div id="content">
<div class="container">
<div class="row">

<div class="col-sm-3">
</div>

<div class="col-sm-4">
<h2>||   what we do   ||</h2>
<p>making collaboration stream-lined -- in both the personal and professional spheres.</p>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-4">
<h2>||   how we work   ||</h2>
	<li><%= link_to "sign in", new_session_url %> or <%= link_to "sign up", new_user_url %></li>
	<li>create a roster of teammates</li>
	<li>break team projects down into phases</li>
	<li>add tasks for each project phase</li>
	<li>assign each task to one of your team members</li>
</div>

</div>
</div>
</div>