<div id="content">
<div class="container">
<div class="row">

<div class= "col-sm-2">
</div>

<div class="col-sm-4">
<table class="table">
	<thead>
		<tr>
		<th></th>
		<th><span class="glyphicon glyphicon-comment"></span> contact us</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="glyphicon glyphicon-send"></span></td>
			<td>esther.s.weon@gmail.com</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-envelope"></span></td>
			<td><em>App Academy</em><br>
			1061 Market Street <br>
			San Francisco, CA 94103</td>
		</tr>
		<tr>
			<td><span class="glyphicon glyphicon-earphone"></span></td>
			<td>562.453.7447</td>
		</tr>
	
	</tbody>
</table>

<br>
<%if !current_user%>
	<%= link_to "sign in   |", new_session_url %>
	<%= link_to "|   new to pyramid?", new_user_url %>
<% end %>

</div>

<div class= "col-sm-6">
</div>

</div>
</div>
</div>
