<div id="content">
<div class="container">
<div class="row">
<div class= "col-longer">
<img src="/images/pyramid.jpg" alt="Pyramid" width="200" height="300">
<br><br>
</div>

<div class= "col-content">
<h2>||   connect with us   ||</h2>
<ul>
	<li><strong>email</strong> -<br> 
	esther.s.weon@gmail.com</li>
	<li><strong>offices</strong> -<br>
	App Academy | 1061 Market Street <br>
	San Francisco, CA 94102 </li>
</ul>

<br>
<%if !current_user%>
	<%= link_to "||   sign in   ||", new_session_url %><br>
	<%= link_to "||   new to pyramid?   ||", new_user_url %><br>
<% end %>

</div>

</div>
</div>
</div>