<%if current_user%>
	<img src="/images/pyramid.jpg" alt="Pyramid" width="400" height="550">
<% end %>

<h1>pyramid</h1>
<br>
<br>

<h2>||   email   ||</h2>
<p>esther.s.weon@gmail.com</p>

<h2>||   linkedin   ||</h2>
<p>https://www.linkedin.com/pub/esther-weon/2b/bb9/348</p>

<br>
<br>
<br>

<%= link_to "||   sign in   ||", new_session_url %><br>
<%= link_to "||   new to pyramid?   ||", new_user_url %><br>

<br><br>
<br><br>