<% if !current_user %>
<div id="main-logo">
	<br><br><br><br>

	<div id="start_here"><img src="/images/main-logo.png" alt="main_logo"></div>

	<br><br><br><br>
</div>
<% end %> 

<div id="content"></div>
<script type="text/javascript" charset="utf-8">
  $(FinalApp.initialize);
</script>