<%if !current_user%>
	<img src="/images/pyramid.jpg" alt="Pyramid" width="400" height="550">
<% end %>


<div id="content"></div>
<script type="text/javascript" charset="utf-8">
  $(FinalApp.initialize);
</script>