<div class="container">

<div class="row">

<div class="col-sm-3"></div>

<div class="col-sm-3">
	<table class="table">

	<thead><tr>
		<th>||   team members   ||</th>
	</tr></thead>
	
	<tbody>
	
	<% members.each (function(member) { %>
	<tr>
	<td>
		<strong><a href="#/members/<%= member.id %>">
			<%= member.escape("fname") + " " + member.escape("lname") %>
		</a></strong>
	</td>
	</tr>
	<% }) %>
	<tr>
	</tr>

	</tbody>
	</table>
</div>

<div class="col-sm-1"></div>

<div class="col-sm-3">
	<table class="table">

	<thead><tr>
		<th>||   projects   ||</th>
	</tr></thead>
	
	<tbody>
	
	<% projects.each (function(project) { %>
	<tr>
	<td>
		<strong><a href="#/projects/<%= project.id %>">
			<%= project.escape("title") %>
		</a></strong>
	</td>	
	</tr>
	<% }) %>

	</tbody>
	</table>
</div>
<div class="col-sm-2"></div>
	
</div>
</div>