<div class="container">

<div class="row">

<div class="col-sm-1">
</div>

<div class="col-sm-3">
	<table class="table">
	<thead>
		<tr>
		<th><span class="glyphicon glyphicon-home"></span> getting started</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>add your <strong><a href="#/members">team members</a></strong></td>
		</tr>
		<tr>
			<td>create your <strong><a href="#/projects">projects</a></strong></td>
		</tr>
		<tr>
			<td>divide your projects<br>
				into manageable <strong>phases</strong></td>
		</tr>
		<tr>
			<td>create <strong>tasks</strong> for each phase<br>
				& assign them to team members</td>
		</tr>
	</tbody>
	</table>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-3">
	<table class="table">

	<thead><tr>
		<th><span class="glyphicon glyphicon-user"></span> team members</th>
	</tr></thead>
	
	<tbody>
	
	<% members.each (function(member) { %>
	<tr>
	<td>
		<strong><a href="#/members/<%= member.id %>">
			<%= member.escape("fname") + " " + member.escape("lname") %></a>
		</strong>
	</td>
	</tr>
	<% }) %>
	<tr>
	<td>
		<a href="#/members"><span class="glyphicon glyphicon-chevron-left"></span> go to team members</a>
	</td>
	</tr>

	</tbody>
	</table>
</div>

<div class="col-sm-1">
</div>

<div class="col-sm-3">
	<table class="table">

	<thead><tr>
		<th><span class="glyphicon glyphicon-list-alt"></span> projects</th>
	</tr></thead>
	
	<tbody>
	
	<% projects.each (function(project) { %>
	<tr>
	<td>
		<strong><a href="#/projects/<%= project.id %>">
			<%= project.escape("title") %>
		</a></strong>
	</td>	
	</tr>
	<% }) %>
	<tr>
	<td>
		<a href="#/projects"><span class="glyphicon glyphicon-chevron-left"></span> go to team projects</a>
	</td>
	</tr>

	</tbody>
	</table>
</div>
</div>