<h1>Edit Member</h1>

<form>
  
	<label>First Name: 
  <input
    type="text"
    name="fname"
    value="<%= member.escape("fname") %>">
  </label>
  <br>

  <label>Last Name: 
  <input
    type="text"
    name="lname"
    value="<%= member.escape("lname") %>">
  </label>
  <br>

    <label>Short Bio (optional): 
  <input
    type="textarea"
    name="bio"
    value="<%= member.escape("bio") %>">
  </label>
  <br>

  <input type="submit">
  
</form>
