</form>

<form role="form">
  <div class="form-group">
  <label>first name: 
  <input
    type="text"
    name="member[fname]"
    value="<%= member.escape("fname") %>"
    class="form-control">
  </label>
  </div>

  <div class="form-group">
  <label>last name: 
  <input
    type="text"
    name="member[lname]"
    value="<%= member.escape("lname") %>"
    class="form-control">
  </label>
  </div>

  <div class="form-group">
  <label>role: 
  <input
    type="text"
    name="member[role]"
    value="<%= member.escape("role")%>"
    class="form-control">
  </label>
  </div>

  <div class="form-group">
  <label>short bio (optional): 
  <input
    type="textarea"
    name="member[bio]"
    value="<%= member.escape("bio") %>"
    class="form-control">
  </label>
  </div>

  <input type="submit" value="&#10003">
  <button class="cancel">X</button>
  
</form>