<!-- <div class="form-container"> -->
<br><br><br>

<form role="form">
  <div class="form-group">
  <input
    type="text"
    name="member[fname]"
    value="<%= member.escape("fname") %>"
    placeholder="first name"
    class="form-control">
  </div>

  <div class="form-group">
  <input
    type="text"
    name="member[lname]"
    value="<%= member.escape("lname") %>"
    placeholder="last name"
    class="form-control">
  </div>

  <div class="form-group">
  <input
    type="text"
    name="member[role]"
    value="team member"
    placeholder="role"
    class="form-control">
  </div>

  <div class="form-group">
    ​<textarea type="text" name="member[bio]" placeholder="short bio" class="form-control" rows="3" cols="70"><%= member.escape("bio") %></textarea>
  </div>

  <input type="submit" class="btn btn-sm btn-default" value="&#10003">
  <button id="cancel" class="btn btn-sm btn-default">X</button>
  
</form>
<!-- </div> -->