<h2><u>||   team members   ||</u></h2>
<br>

<ul>
<% members.each (function(member) { %>
	<li class="member">
		<a href="#/members/<%= member.id %>"><%= member.escape("fname") + " " + member.escape("lname") + " - " + member.escape("role") %></a>
	</li>
<% }) %>
</ul>

<h3><a href="#/members/new">add a team member</a></h3>
