<div class="container">

	<div class="row">

<div class="col-sm-2"></div>

<div class="col-sm-6">
	<table class="table">

	<thead><tr>
		<th><span class="glyphicon glyphicon-user"></span> members</span> </th>
		<th></th>
		<th></th>
	</tr></thead>
	
	<tbody>
	
	<% members.each (function(member) { %>
	<tr>
	<td>
		<strong><a href="#/members/<%= member.id %>">
			<%= member.escape("fname") + " " + member.escape("lname") %>
		</a></strong>
	</td>
	<td>
		<%= member.escape("role") %>
	</td>
	<td>
		<%= member.escape("bio") %>
	</td>
	</tr>
	<% }) %>
	<tr>
		<td>
		<h5><a href="#/"><span class="glyphicon glyphicon-chevron-left"></span> back to dashboard</a></h5>
		</td>
		<td></td>
		<td></td>
	</tr>

	</tbody>
	</table>

</div>


<div class= "col-sm-1"></div>

<div class= "col-sm-3">
	<button id="newMember" class="btn btn-create"><span class="glyphicon glyphicon-user"></span> create member</button><br>
	<div id="members-new"><br></div>
</div>

</div>
</div>