<h1> Team Members<h1>

<ul>

<% members.each (function(project) { %>
	<li class="member">
		<a href="#/members/<%= member.id %>"><%= member.escape("lname") + ", " + member.escape("lname") %></a>
	</li>
<% }) %>

</ul>

<br>
<br>
<br>

<h2><a href="#/members/new">Create a New Member</a></h2>