<div class="container">

	<div class="row">

<div class="col-sm-2"></div>

<div class="col-sm-6">
	<table class="table">

	<thead><tr>
		<th>||   name   ||</th>
		<th>||   role   ||</th>
		<th>||   bio   ||</th>
	</tr></thead>
	
	<tbody>
	
	<% members.each (function(member) { %>
	<tr>
	<td>
		<strong><a href="#/members/<%= member.id %>">
			<%= member.escape("fname") + " " + member.escape("lname") %>
		</a></strong>
	</td>
	<td>
		<%= member.escape("role") %>
	</td>
	<td>
		<%= member.escape("bio") %>
	</td>

	</tr>
	<% }) %>

	</tbody>
	</table>
</div>


<div class= "col-sm-1"></div>

<div class= "col-sm-3">
	<a href="#"><h4>||   back to dashboard   ||</h4></a>
	<br><br>
	<button id="newMember" class="btn btn-create"><span class="glyphicon glyphicon-user"></span> create member</button><br>
	<div id="members-new"><br></div>
</div>

</div>
</div>