<div class="container">

<div class="row">

<div class="col-sm-2"></div>

<div class="col-sm-3">
	<table class="table">
	<thead>
	<tr>
		<th><h4><span class="glyphicon glyphicon-user"></span> <%= member.escape("fname") + " " + member.escape("lname")%></h4></th>
	</tr></thead>

	<tbody>
	<tr><td>
		<%= member.escape("role") %>
	</tr></td>
	<tr><td><%= member.escape("bio")%>
	</tr></td>
	<tr><td>
		<button id="editMember" class="btn btn-sm btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span></button> 
	</tr></td>

	</tbody>
	</table>
	
	<br>
	<div id="member-edit"></div>
	<br><br>
	<h5><a href="#/members"><span class="glyphicon glyphicon-chevron-left"></span> back to members</a></h5>
	<h5><a href="#/"><span class="glyphicon glyphicon-chevron-left"></span> back to home</a></h5>
	
</div>

<div class="col-sm-2">	
</div>

<div class= "col-sm-5">
	<ul id="tasks">
	</ul>
</div>

	</div>
</div>