<div class="container">

	<div class="row">

	<div class= "col-content">
	<img src="/images/pyramid.jpg" alt="Pyramid" width="200" height="300">
	</div>

	<div class= "col-longest">
	<h4>||   <%= member.escape("fname") + " " + member.escape("lname")%>   ||</h4>

	<ul>
	<li><strong>role</strong> - <%= member.escape("role") %></li>
	<li><strong>bio</strong> - <%= member.escape("bio")%></li>
	</ul>
	<button class="editMember">edit member</button>
	<button class="destroyMember">delete member</button>
	</ul>

	<br><br>
	<h4><a href="#/members">||   back to members   ||</a></h4>

	<br>
	
	<div id="member-edit">
	</div>
	<div id="task-edit">
	</div>
		
	</div>

	<div class= "col-longer">
		<h4>||   assigned tasks   ||</h4>
		<ul id="tasks">
		</ul>
	</div>


	</div>
</div>