<h1><%= member.escape("fname") + " " + member.escape("lname")%></h1>
<h2>ROLE: <%= member.escape("role") %></h2>

<p><%= member.escape("bio")%></p>
<br>

<h3>MEMBER'S TASKS</h3>
<ul id="tasks">
</ul>

<br>
<br>
<br>

<div id="member-edit"></div>
<br>
<br>
<br>

<button class="editMember">Edit Member</button>
<button class="destroyMember">Delete Member</button>
<br><br>
<a href="#/">Back To Team HomePage</a>
