<h1><%= member.escape("fname") + " " + member.escape("lname")%></h1>

<p><%= member.escape("bio")%></p>

<button class="destroyMember">Destroy Member</button>
<br><br>
<a href="#/">Back To Team HomePage</a>
