<h1><%= member.escape("fname") + " " + member.escape("lname")%></h1>
<h2>||   role   ||   <%= member.escape("role") %></h2>

<br>
<p><%= member.escape("bio")%></p>

<br><br>
<br><br>

<h3><u>||   assigned tasks   ||</u></h3>
<ul id="tasks">
</ul>

<br>
<br>
<br>

<div id="member-edit"></div>
<br>
<br>
<br>

<button class="editMember">Edit Member</button>
<button class="destroyMember">Delete Member</button>
<br><br>
<a href="#/">Back To Team HomePage</a>