<h3>New Phase</h3>
	<form>

		<input type="hidden"
		name="phase[project_id]"
		value="<%= project.escape("id") %>">

		<label>Phase Title
			<input type="text"
			id="phase_title"
			name="phase[title]"
			value="<%= phase.title %>">
		</label>

		<label>End Date
			<input type="date"
			id="phase_end_date"
			name="phase[end_date]"
			value="<%= phase.end_date %>">
		</label>

		<input type="submit">
	</form>