<h3>new phase</h3>

<form role="form">

	<input type="hidden"
	name="phase[project_id]"
	value="<%= project.escape("id") %>">

	<div class="form-group">
	<label>Phase Title
		<input type="text"
		id="phase_title"
		name="phase[title]"
		value="<%= phase.title %>"
		class="form-control">
	</label>
	</div>

	<div class="form-group">
	<label>End Date
		<input type="date"
		id="phase_end_date"
		name="phase[end_date]"
		value="<%= phase.end_date %>"
		class="form-control">
	</label>
	</div>

	<input type="submit" value="&#10003">
	<button class="cancel">X</button>
</form>