<li class="phase">
	<strong><%= phase.escape("title") %></strong><br>
	End Date: <%= phase.escape("end_date") %><br>
	<ul>
		<div id="tasks"></div>
	</ul>
	<button class="destroyPhase">Delete Phase</button>
	<button class="newTask">New Task</button>
	<div id="tasks-new"></div>
</li>

