<div class="col-pp-1">
<li class="phase">
	<strong><%= phase.escape("title") %></strong><br>
	End Date: <%= phase.escape("end_date") %><br>
	<ul>
		<div id="tasks">
		</div>
	</ul>
	<button class="editPhase">Edit Phase</button>
	<button class="destroyPhase">Delete Phase</button>
	<button class="newTask">New Task</button>
	<div id="tasks-new"></div>
	<div id="phase-edit"></div>
</li>
</div>

