<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= phase.escape("id")%>" >
        <span class="glyphicon glyphicon-bookmark"></span> <strong><%= phase.escape("title") %></strong>
        <br><br>

        <button id="editPhase" class="btn btn-edit"><span class="glyphicon glyphicon-pencil"></span> edit phase</button>
        <button id="deletePhase" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> delete phase</button><br>

      </a>
    </h4>
  </div>
  <div id="<%= phase.escape("id") %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div id="phase-edit">
      </div>

      <strong>end date</strong> - <%= phase.escape("end_date") %><br><br>

      <ul class="sub-nav">
        <div id="tasks">
        </div>
      </ul>

      <button id="addTask" class="btn btn-create"><span class="glyphicon glyphicon-pushpin"></span> add task</button>
      
      <div id="tasks-new">
      </div>

    </div>
</div>
</div>