<div class="col-pp-1">
<li class="phase">
	<strong><%= phase.escape("title") %></strong><br>
	end date: <%= phase.escape("end_date") %><br>

	<button class="editPhase">edit phase</button>
	<button class="deletePhase">delete phase</button>

	<div id="phase-edit">
	<br>
	</div>

	<ul>
		<div id="tasks">
		</div>
		<br>
		<li><button class="addTask">add task</button></li>
	</ul>
	<div id="tasks-new"></div>
</li>
</div>