<br>
<li class="task">
	<strong><%= task.escape("title") %></strong> - <%= task.escape("status") %>
	<br>
	<strong>project</strong> - 
	<br>
	<strong>phase</strong> - 
	<br>
	<div id="task-edit"></div>
</li>