<br>
<li class="task">
	<strong><%= task.escape("title") %></strong> - <%= task.escape("status") %>
	<br>
	<strong>project</strong> - <%= task.escape("project_title") %>
	<br>
	<strong>phase</strong> - <%= task.escape("phase_title") %>
	<br>
	<div id="task-edit"></div>
</li>