<br>
<form>
	<input
		type="hidden"
		id="task_phase_id"
		name="task[phase_id]"
		value="<%= phaseID %>">

	<label>
		Task Title: 
		<input
			type="text"
			id="task_title"
			name="task[title]">
	</label>
	<br>

	<label>
		Task Status: 
		<select>
   			<option selected id="task_status" name="task[status]" value="Incomplete">Incomplete</option>
    		<option id="task_status" name="task[status]" value="Complete">Complete</option>
		</select>
	</label>
	<br>


	<label>
		Delegate (optional):
		<input
			type="text"
			id="task_delegate"
			name="task[member_id]">
	</label>
	<br>

	<input type="submit">
</form>