<br>
<li class="task">
	<strong><%= task.escape("title") %></strong>
	<br>
	DELEGATE: <%= task.escape("member_id") %>
	<br>
	STATUS: <%= task.escape("status") %>
	<br>
	<button class="editTask">Edit Task</button>
	<button class="destroyTask" data-id="task.id">Destroy Task</button>
	<div id="task-edit"></div>
</li>