/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

body {
  text-align: center; 
  background-color: white;
}

div.form-container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

div.col-picture {
  width: 20%;
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

div.col-content {
  width: 25%;
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

div.col-project {
  width: 15%;
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

div.col-shorter {
  width: 15%;
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

div.col-longer {
  width: 30%;
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

div.col-longest {
  width: 40%;
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

div#content {
  margin:50px auto;
  width: auto;
  
  padding: 10px;
  margin-bottom: 10px;
  
  overflow-x: scroll;
}

.phase {
  width: 500px;
}

div#long-phases {
  float: center;
}
nav.phase {
  line-height: 1.5;
  margin: 50px auto;
  width: 500px;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

#phase-items {
  background: #fff;
  width: 1000px; 
}

#phase-items h5 {
  color: gray;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  background: black;

  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #ceeddc 44%, #8db59e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(44%,#ceeddc), color-stop(100%,#8db59e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%,#ceeddc 44%,#8db59e 100%); /* Chrome10+,Safari5.1+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

#phase-items h5:hover {  
  background: #ceeddc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fff 0%, #8db59e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ceeddc), color-stop(100%,#8db59e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ceeddc 0%,#8db59e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fff 0%,#8db59e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fff 0%,#8db59e 100%); /* IE10+ */
  background: linear-gradient(top,  #fff 0%,#8db59e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceeddc', endColorstr='#006d2f',GradientType=0 ); /* IE6-9 */
}

#phase-items ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  margin-left: 20px;
  text-decoration: none;
  color: gray;
  display: block;
  width: 1000px;
  height: 0px; /*Collapses the menu*/
  list-style-type: none;
  overflow: hidden;
  padding: 0px;

  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}

#phase-items:hover ul {
  height: auto;
}