/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require shepherd-theme-arrows
 *= require shepherd-theme-arrows-plain-buttons
 */

@import "bootstrap";
@import "shepherd-theme-arrows";
@import "shepherd-theme-arrows-plain-buttons";

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: 'Josefin Sans Std Light', sans-serif;
}

.navbar-header {
  width: 200px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.nav-sidebar {
  padding-top: 80px;
  width: 150px;
}

#main-logo {
  width: 100%;
  padding-left:400px;
  padding-right:400px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  position: fixed;
  top: 30%; 
}

#sign-in {
  border: 1px solid;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  position: fixed;
  top: 35%; 
  right: 35%;
}

#sign-up {
  border: 1px solid;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  position: fixed;
  top: 35%; 
  right: 35%;
}

table {
  text-align: right;
}

th {
  text-align: right;
  font-size: 18px;
  color: white;
}

td {
  text-align: right;
}

.main {
  position: absolute;
  color: white;
  font-family: 'Josefin Sans Std Light', sans-serif;
  top: 80px;
  bottom: 80px;
}

#content {
  margin:50px auto;
  font-size: 15px;
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  overflow-x: scroll;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid;
  border-radius: 10px;
}

.member-task {
  text-align: right;
  padding-right: 20px;
}

.phase {
  width: 500px;
}

.panel-group .panel {
  background-color: transparent;
  border-radius: 5px;
}

.panel-default > .panel-heading {
  background-color: transparent;
  color: white;
}

ul {
  padding: 0;
}

.task-item {
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  background: rgba(255,255,255,0.2)
}

.container {
  background-color: transparent;
}

body {
  text-align: center; 
  background-color: white;
}

form {
  width: 70%;
  right: 15%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #8ECCCC;
  opacity: 0.7;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
  margin: 3px;
  border: thin solid white;
  color: white;
  background: none;
}

html {
  background: url("/images/pyramid.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.shepherd-element.shepherd-theme-arrows .shepherd-content {
  width: 300px;
  max-width: 100%; 
  margin-left: auto}

